header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px lightskyblue;
}

/* 검색창 크기 조절 */
#search_text,
#search_btn {
  padding: 10px;
}

.movie_card,
.movie_content,
.movie_img {
  padding: 30px;
}

.movie_card {
  display: flex;
  margin: 20px auto;
  background-color: whitesmoke;
  border-radius: 5px;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 3px 0px lightblue;
}
