#reviewBox {
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: green; */
  margin-left: 20%;
}

#commentForm {
  width: 100%;
  height: auto;
  /* background-color: green; */
  display: flex;
  flex-direction: column;

  justify-content: center;
}

#upperText {
  margin-left: 10px;
  float: left;
  margin-top: 10px;
}

#name {
  margin-right: 5px;
  padding: 5px;
}

#password {
  padding: 5px;
}

#commentArea {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#comment {
  width: 1200px;
  height: 90px;

  margin-left: 10px;
}

#button {
  width: 100px;
  height: 90px;
  margin-left: 5px;
  padding: 5px;
}

.comment-Box {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #777;
}

#commentName {
  font-weight: bold;
  margin-bottom: 10px;
}

#commentContents {
  padding-bottom: 10px;
}

#buttons {
  display: flex;
  justify-content: flex-end;
}

#deleteCommentBtn {
  margin-left: 5px;
}

.confirmPassword {
  padding: 5px;
}
