/* 폰트 지정 */
:root {
  font-family: "NanumSquare", "NanumSquareBold";
}

/* 아이콘 */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* 상단 메뉴 */
header {
  background-color: rgba(0, 0, 0, 0.888);
  color: white;
  padding: 0px 100px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-menu {
  display: flex;
  align-items: center;
}

.second-line {
  justify-content: center;
}

/* 메인 화면 */
main {
  display: flex;
}

/* 제목(로고) */
.title {
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

/* 검색창 */
#search-text {
  padding: 0 10px;
  margin: 10px 0;
  width: 40vw;
  height: 40px;
}

#search-btn {
  margin: 5px;
  width: 60px;
  height: 40px;
}

/* 영화 리스트 */
#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  padding: 2rem;
}

/* 각 영화 */
.movie-item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  justify-self: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in;
  line-height: 1.6em;
}

.movie-item:hover {
  transform: scale(1.02);
}

.movie-item img {
  width: 100%;
  border-radius: 10px;
}

.movie-title {
  line-height: 1.6em;
}

/* 카테고리 */
.sort-list {
  display: flex;
  list-style: none;
}

.sort-list li {
  padding: 10px;
}

.sort-list li:hover {
  color: red;
  cursor: pointer;
}

/* 상세페이지 - 메인 섹션 */
.movieInfo-main {
  width: 100vw;
  height: 710px; /* 100%이렇게쓰면 높이가  p태그에맞춰서 조정됨 */
  /* back-drop path 주소 이미지 넣기 */
  background-image: url("https://image.tmdb.org/t/p/original/5a4JdoFwll5DRtKMe7JLuGQ9yJm.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  /* font-family: "NanumSquare", "NanumSquareBold"; */
  color: white;
}

.movieInfo-main::after {
  /* 가상 클래스 - 이미지 음영 */
  content: "";
  position: absolute;
  top: 87px; /* %든 px이든 페이지크기따라 고정은안됨 */
  left: 0.4%;
  width: 100%;
  height: 710px;
  background-color: rgba(0, 0, 0, 0.888);
}

.movieInfo-main * {
  z-index: 1;
}

.movieInfo-box {
  display: flex;
}

.movieInfo-box img {
  width: 400px;
  height: 550px;
  border-radius: 7px;
  margin: 80px;
}

.movieInfo-detail-box {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.movieInfo-Ktitle,
.movieInfo-Otitle {
  font-family: "NanumSquare", "NanumSquareBold";
}

.movieInfo-Ktitle {
  font-size: 40px;
  color: white;
}

.movieInfo-Otitle {
  font-size: 18px;
  margin-top: -20px;
}

.movieInfo-detail-box p {
  color: white;
  font-size: 20px;
  width: 70%;
  margin-top: 50px;
  line-height: 1.6em;
}
