header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: lightblue;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px lightskyblue;
}

main {
  display: flex;
}

h1 {
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

#search-text,
#search-btn {
  padding: 10px;
}

#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  padding: 2rem;
  list-style: none;
}

.movie-item {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.24);
  margin: 20px;
  padding: 20px;
  justify-self: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in;
}

.movie-item:hover {
  transform: scale(1.02);
}

.movie-item img {
  width: 100%;
  border-radius: 10px;
}

.sort-list {
  display: flex;
  list-style: none;
}

.sort-list li {
  padding: 10px;
}

.sort-list li:hover {
  color: darkorange;
  cursor: pointer;
}
