/* 전체 */
/* 폰트 지정 */
:root {
  font-family: "NanumSquare", "NanumSquareBold", "NanumSquareLight", "NanumSquareAcb",
    "NanumSquareAcr", "NanumSquareAcl";
}

/* 아이콘 */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

/* 상단 메뉴 */
header {
  height: 40px;
  background-color: #9a161f;
  color: white;
  padding: 30px 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-menu,
.right-menu {
  display: flex;
  align-items: center;
}

/* 메인 페이지 */
main {
  display: flex;
}

/* 제목(로고) */
.title {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}

.title:hover {
  transform: scale(1.05);
}

/* 검색창 */
#search {
  cursor: pointer;
  transition: transform 100ms ease-in;
}

#search:hover {
  color: #131212f6;
  transform: scale(1.05);
}

/* 검색 form */
#search-form {
  display: flex;
  align-items: baseline;
}
/* 입력 창 */
#search-text {
  padding: 0 10px;
  margin: 10px 0;
  width: 15vw;
  height: 40px;
}

#search-btn {
  margin: 10px;
  height: 40px;
}

#searchBtnStatus {
  margin-left: 3px;
}

/* 전체 배경 */
.wrapper {
  background-color: black;
  color: #f4efea;
}

/* 영화 리스트 */
#movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;

  padding: 2rem;
}

/* 각 영화 */
.movie-item {
  box-shadow: #f4efea 0.5px 1px 2px 0px;
  margin: 20px;
  padding: 20px;
  justify-self: center;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  transition: transform 100ms ease-in;
  line-height: 1.6em;
  background-color: whitesmoke;
  border: 1px solid #9a161f;
}

.movie-item:hover {
  transform: scale(1.02);
}

.movie-item img {
  width: 100%;
  border-radius: 10px;
}

.movie-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 15px;
  margin-bottom: 3px;
}

.movie-original-title {
  font-size: 18px;
  line-height: 1.3em;
  /* margin-top: 100px; */
}

.movie-item-info {
  /* font-size:
   */
  line-height: 3em;
}

/* 카테고리 */
.sort-list {
  display: flex;
  list-style: none;
  margin-left: 50px;
}

.sort-list li {
  padding: 10px;
  margin-left: 20px;
  transition: transform 100ms ease-in;
}

.sort-list li:hover {
  cursor: pointer;
  transform: scale(1.15);
}

/* 상세페이지 - 메인 섹션 */
.movieInfo-main {
  width: 1519px; /* 100%나 100vw하면 삐져나오므로 px주기 */
  height: 710px; /* 100%이렇게쓰면 높이가  p태그에맞춰서 조정됨 */
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.movieInfo-main::after {
  /* 가상 클래스 - 배경이미지 어둡게 */
  content: "";
  position: absolute;
  top: 100px; /* %든 px이든 페이지크기따라 고정은안됨 */
  width: 1519px;
  height: 710px;
  background-color: rgba(0, 0, 0, 0.815);
}

.movieInfo-main * {
  z-index: 1;
}

.movieInfo-box {
  display: flex;
}

/* 상세 페이지 영화 카드 이미지*/
.movieInfo-box img {
  width: 330px;
  height: 480px;
  margin: 80px;
  border-radius: 7px;
  box-shadow: #3a3938 1px 1px 0px, #9a161f 1px 1px 2px;
}

.movieInfo-detail-box {
  display: flex;
  flex-direction: column;
  padding-top: 110px;
}

.movieInfo-title {
  font-size: 35px;
  color: white;
}

.movieInfo-details {
  margin-top: 20px;
}

.movieInfo-vote,
.movieInfo-runtime {
  margin-left: 80px;
}

.quoteSymbol {
  transform: rotate(180deg);
}

.movieInfo-tagline {
  font-size: 23px;
  margin-top: 50px;
  font-style: italic;
}

/* 상세 페이지-영화 개요 */
.movieInfo-overview {
  color: white;
  font-size: 19px;
  width: 70%;
  margin-top: 20px;
  line-height: 1.6em;
}

/* 리뷰 UI */
.review-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 20px;
  margin-left: 20%;
  border: 1px solid white;
  border-radius: 5px;
  /* background-color: ; */
}

#comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 80%;
  margin-left: 5%;
}

.user-info,
.comment-area,
.comment-box {
  margin-top: 10px;
}

.comment-area {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#user-name,
#user-password,
#comment,
#submit-btn {
  padding: 10px;
}

#user-name {
  margin: 5px 5px 5px 0;
}

#comment {
  width: 600px;
  height: 90px;
  resize: none;
}

#submit-btn {
  width: 100px;
  height: 50px;
  margin: 10px;
}

.comment-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;
  width: 70%;
  margin-left: 3%;
}

.comment-box,
.comment-data {
  padding: 10px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0 15px;

  border: 1px solid #777;
  border-radius: 5px;
}

.comment-name {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0 0 10px 10px;
  border-bottom: 1px solid #777;
}

.comment-contents {
  margin: 10px;
  padding: 5px 0;
}

#control-btn > button {
  float: right;
  margin: 5px;
}

.confirmPassword {
  padding: 5px;
}

.deleteCommentBtn {
  margin-left: 5px;
  background-color: #777;
  color: #fff;
  border-radius: 3px;
  border-color: #999;
}

.passwordInputForm {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

#confirmPassword {
  padding: 2px;
}

#confirmButtons {
  display: inline-block;
  margin-left: 6px;
}
